<div class="text-center">
    <h1 class="display-4">About this page</h1>
    <h2>Schoolproject</h2>

    <p>This site is a school project, so under no circomstance should there be a use of real money on this site. The
        login etc.
        are also simplified so you do not need to verify the mail.
    </p>
</div>